@model IEnumerable<NucleoRH.Models.CatUsuariosPermisos>
@{ ViewData["Title"] = "Roles y Permisos al Usuario"; }

<style>

    #table3 thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .table-responsive {
        height: 200px;
        overflow: scroll;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/i18n/defaults-es_ES.min.js"></script>

<div class="dt-card dt-card__full-height">
    <div class="dt-card__header" style="justify-self">
        <h4 class="mb--15">Permisos de roles y usuarios</h4>
        <div>
            <button class="btn btn-success" data-toggle="modal" data-target="#Add" id="btnAgregarPermisos">Agregar Registro</button>
        </div>
    </div>
    <div class="card-body">       
        <table class="table" id="table3">
            <thead>
                <tr>
           <th scope="col">Número de nómina</th>
                    <th scope="col">Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
             
                
                @foreach (var ins in ViewBag.User)
               {
                   
                    <tr>
                       <td>@ins.UserName</td>
                       <td>@ins.Email</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Editar" onclick="OpenModalEdit('@ins.Id')"><i class="material-icons text-warning EditarPermisos">edit</i></a>
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>

@*Agregar YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:65em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddURP" asp-controller="UsuariosRolesPermisos" asp-action="Add" method="POST">
                    <div class="form-group row">
                                                                      
                        <div class="t-container">
                 <ul class="t-tabs row justify-content-center">  
                    <li class="t-tab">Datos Generales</li>  
                    <li class="t-tab" id="ModCatalogos">Catálogos</li> 
                    <li class="t-tab" id="ModEmpleados">Empleados</li>  
                    <li class="t-tab" id="ModCH">Capital Humano</li> 
                    <li class="t-tab" id="ModAdmin">Administración</li>  
                    <li class="t-tab" id="ModReportes">Reportes</li> 
                    
                </ul>
                <ul class="t-contents">
                    <li class="t-content">
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Usuario</label><br />
                                <select class="form-control col-sm-10 col-form-label" asp-items="ViewBag.Usuarios" id="URPUserId" name="URPUserId" required> 
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> <br />
                        </div>
                        
                    </li>
                    <!-- Catálogos -->
                    <li class="t-content">
                        
                    <div class="col-sm-10">
                        <ul>

                            <table class="table" id="table1" >
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="mi-tabla" name="tablaCatalogos">
                               @foreach (var cat in ViewBag.Cat)
               {
                   <tr name="UrpCatalogos[]" id="UrpCatalogos" class="UrpCatalogos" >
                       <td name="urpsubmodulos[]" id="urpsubmodulos" class="urpsubmodulos" >@cat.SubMId</td>
                       <td>@cat.SubMName</td>
                       <td><input type="checkbox" name="urpcrear[]" id="urpcrear" class="urpcrear" value=""></td>
                       <td><input type="checkbox" name="urpmostrar[]" id="urpmostrar" class="urpmostrar" ></td>
                       <td><input type="checkbox" name="urpmodificar[]" id="urpmodificar" class="urpmodificar"></td>
                       <td><input type="checkbox" name="urpeliminar[]" id="urpeliminar" class="urpeliminar" ></td>
                       </tr>
               }
                            </tbody>
                        </table>

                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Seleccionar todo</label><br />
                            <input type="checkbox" name="SeleccionarTodoCatalogos" id="SeleccionarTodoCatalogos" >
                        </div>
                               </ul>
                            </div>
                            
                    </li>

                    <!-- Empleados -->
                    <li class="t-content">
                        
                    <div class="col-sm-10">
                        <ul>

                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="mi-tablaEmpleados">
                               @foreach (var cat in ViewBag.Emp)
               {
                   <tr>
                        <td name="urpsubmodulosEmpleados[]" id="urpsubmodulosEmpleados" class="urpsubmodulosEmpleados" >@cat.SubMId</td>
                       <td>@cat.SubMName</td>
                       <td><input type="checkbox" name="urpcrearEmpleados[]" id="urpcrearEmpleados" class="urpcrearEmpleados" value=""></td>
                       <td><input type="checkbox" name="urpmostrarEmpleados[]" id="urpmostrarEmpleados" class="urpmostrarEmpleados" ></td>
                       <td><input type="checkbox" name="urpmodificarEmpleados[]" id="urpmodificarEmpleados" class="urpmodificarEmpleados"></td>
                       <td><input type="checkbox" name="urpeliminarEmpleados[]" id="urpeliminarEmpleados" class="urpeliminarEmpleados" ></td>
                                             
                   </tr>
               }
               
                            </tbody>
                        </table>
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Seleccionar todo</label><br />
                            <input type="checkbox" name="SeleccionarTodoEmpleados" id="SeleccionarTodoEmpleados" >
                        </div>
                        </ul>
                            </div>
                            
                    </li>

                   
                    <!-- Movimientos de Capital Humano -->
                    <li class="t-content">
                        <div class="col-sm-10">
                        <ul>

                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="mi-tablaCH">
                               @foreach (var cat in ViewBag.CH)
               {
                   <tr>
                       <td name="urpsubmodulosCapitalHumano[]" id="urpsubmodulosCapitalHumano" class="urpsubmodulosCapitalHumano" >@cat.SubMId</td>
                       <td>@cat.SubMName</td>
                       <td><input type="checkbox" name="urpcrearCapitalHumano[]" id="urpcrearCapitalHumano" class="urpcrearCapitalHumano" value=""></td>
                       <td><input type="checkbox" name="urpmostrarCapitalHumano[]" id="urpmostrarCapitalHumano" class="urpmostrarCapitalHumano" ></td>
                       <td><input type="checkbox" name="urpmodificarCapitalHumano[]" id="urpmodificarCapitalHumano" class="urpmodificarCapitalHumano"></td>
                       <td><input type="checkbox" name="urpeliminarCapitalHumano[]" id="urpeliminarCapitalHumano" class="urpeliminarCapitalHumano" ></td>
                       
                   </tr>
               }
                            </tbody>
                        </table>
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Seleccionar todo</label><br />
                            <input type="checkbox" name="SeleccionarTodoCH" id="SeleccionarTodoCH" >
                        </div>
                        </ul>
                            </div>
                            
                    </li>
                    <!-- Administración -->
                    <li class="t-content">
                        <div class="col-sm-10">
                        <ul>

                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="mi-tablaAdmin">
                               @foreach (var cat in ViewBag.Admin)
               {
                   <tr>
                       <td name="urpsubmodulosAdmin[]" id="urpsubmodulosAdmin" class="urpsubmodulosAdmin" >@cat.SubMId</td>
                       <td>@cat.SubMName</td>
                       <td><input type="checkbox" name="urpcrearAdmin[]" id="urpcrearAdmin" class="urpcrearAdmin" value=""></td>
                       <td><input type="checkbox" name="urpmostrarAdmin[]" id="urpmostrarAdmin" class="urpmostrarAdmin" ></td>
                       <td><input type="checkbox" name="urpmodificarAdmin[]" id="urpmodificarAdmin" class="urpmodificarAdmin"></td>
                       <td><input type="checkbox" name="urpeliminarAdmin[]" id="urpeliminarAdmin" class="urpeliminarAdmin" ></td>
                   </tr>
               }
                            </tbody>
                        </table>
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Seleccionar todo</label><br />
                            <input type="checkbox" name="SeleccionarTodoAdmin" id="SeleccionarTodoAdmin" >
                        </div>
                        </ul>
                            </div>
                            
                    </li>

                     <!-- Registro de Reportes-->
                     <li class="t-content">
                        <div class="col-sm-10">
                        <ul>

                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="mi-tablaReportes">
                               @foreach (var cat in ViewBag.Reportes)
               {
                   <tr>
                       <td name="urpsubmodulosReportes[]" id="urpsubmodulosReportes" class="urpsubmodulosReportes" >@cat.SubMId</td>
                       <td>@cat.SubMName</td>
                       <td><input type="checkbox" name="urpcrearReportes[]" id="urpcrearReportes" class="urpcrearReportes" value=""></td>
                       <td><input type="checkbox" name="urpmostrarReportes[]" id="urpmostrarReportes" class="urpmostrarReportes" ></td>
                       <td><input type="checkbox" name="urpmodificarReportes[]" id="urpmodificarReportes" class="urpmodificarReportes"></td>
                       <td><input type="checkbox" name="urpeliminarReportes[]" id="urpeliminarReportes" class="urpeliminarReportes" ></td>
                      
                   </tr>
               }
                            </tbody>
                        </table>
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Seleccionar todo</label><br />
                            <input type="checkbox" name="SeleccionarTodoReportes" id="SeleccionarTodoReportes" >
                        </div>
                        </ul>
                            </div>
                            
                    </li>
                    
                </ul>
                        </div>
                        
                            </div>
                            <div class="form-group float-right">
                        <button type="button" id="btnAddURP" onclick="AddURP()" class="btn btn-success">Agregar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

@*Editar FORMULARIO YA EN MODAL*@
<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:65em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar permisos del usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditURP" asp-controller="UsuariosRolesPermisos" asp-action="EditURP" method="POST">
                    <input type="hidden" />
                    <input type="hidden" id="Id" name="Id" />
                    <div class="form-group row">
                        <div class="t-container">
                 <ul class="t-tabs row justify-content-center">  
                    <li class="t-tab">Datos Generales</li>  
                    <li class="t-tab" id="ModCatalogos">Catálogos</li> 
                    <li class="t-tab" id="ModEmpleados">Empleados</li>  
                    <li class="t-tab" id="ModCH">Capital Humano</li> 
                    <li class="t-tab" id="ModAdmin">Administración</li>  
                    <li class="t-tab" id="ModReportes">Reportes</li> 
                    
                </ul>
                <ul class="t-contents">
                    <li class="t-content">
                        <div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Usuario</label><br />
                                <select class="form-control col-sm-10 col-form-label" asp-items="ViewBag.Usuarios" id="URPUserIdE" name="URPUserIdE" readonly> 
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> <br />
                        </div>

                        @*<div class="col-sm-10">
                            <label class="col-sm-2 col-form-label">Rol</label><br />
                                <select class="form-control col-sm-10 col-form-label" asp-items="ViewBag.Roles" id="URPRoleIdE" name="URPRoleIdE" readonly> 
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> 
                            
                        </div>*@
                    </li>
                    <!-- Catálogos -->
                    <li class="t-content">
                        
                    <div class="col-sm-10">
                        <ul>
                            <table class="table" >
                            <thead>
                                <tr>
                                    <th scope="col" style="display:none">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="MiTablaCatalogos">
                            </tbody>
                        </table>
                               </ul>
                            </div>
                    </li>

                    <!-- Empleados -->
                    <li class="t-content">
                        
                    <div class="col-sm-10">
                        <ul>
                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col" style="display:none">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="MiTablaEmpleados">
                               
                            </tbody>
                        </table>
                        </ul>
                            </div>
                    </li>
                    <!-- Movimientos de Capital Humano -->
                    <li class="t-content">
                        <div class="col-sm-10">
                        <ul>
                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col" style="display:none">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="MiTablaCH">
                              
                            </tbody>
                        </table>
                        </ul>
                            </div>
                    </li>
                    <!-- Administración -->
                    <li class="t-content">
                        <div class="col-sm-10">
                        <ul>

                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col" style="display:none">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody id="MiTablaAdmin">
                               
                            </tbody>
                        </table>
                        </ul>
                            </div>
                            
                    </li>

                     <!-- Registro de Reportes-->
                     <li class="t-content">
                        <div class="col-sm-10">
                        <ul>
                            <table class="table" id="table3">
                            <thead>
                                <tr>
                                    <th scope="col" style="display:none">Id</th>
                                    <th scope="col">Sub Módulo</th>
                                    <th scope="col">Crear</th>
                                    <th scope="col">Mostrar</th>
                                    <th scope="col">Modificar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="MiTablaReportes">
                              
                            </tbody>
                        </table>
                        </ul>
                            </div>
                    </li>
                    
                </ul>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnEditURP" onclick="EditURP()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- ******* SECCIÓN DE JAVASCRIPT ******* -->

<script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/js/custom/data-table.js"></script>
<script src="~/js/UsuariosRolesPermisos/UsuariosRolesPermisos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>

