@model IEnumerable<NucleoRH.Models.CatRegistroIncidencias>

@{ ViewData["Title"] = "Registro de Incidencias"; }

<style>

    #table3 thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .table-responsive {
        height: 200px;
        overflow: scroll;
    }
</style>

<link rel="stylesheet" href="~/css/ModalCancelacion.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.css" integrity="sha512-VXbqGGD29gdYg6HSSzLd6+eVwBznGTrVoIqZOruvkIbuWSZNDjg/I4p2/zKGMllL5dxzj1PoNoh0dqX1dWxBsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.min.css" integrity="sha512-mIbgL1BBPonQ8vE6IE3m12DOgjnwObnVHk4C2k3S7yyrgd3ctznEDHnz4871ioTgh7QIy0imgyLeNFk+PehRSw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/i18n/defaults-es_ES.min.js"></script>

<div class="dt-card dt-card__full-height">
    <div class="dt-card__header" style="justify-self">
        <h4 class="mb--15">Registro de Incidencias</h4>
        <div>
            <button class="btn btn-success" data-toggle="modal" data-target="#Add" id="btnAgregarRegistro">Agregar Registro</button>
        </div>
    </div>
    <div class="card-body" style="overflow:scroll">

       <div class="t-container">
    <ul class="t-tabs row justify-content-center">  
    <li class="t-tab" id="IncidenciasPropias">Registro de Incidencias propias</li>  
    <li class="t-tab" id="IncidenciasAbiertas">Registro de Incidencias abiertas</li> 
    <li class="t-tab" id="IncidenciasCerradas">Registro de Incidencias Cerradas</li>
    <li class="t-tab" id="IncidenciasComision">Registro de Incidencias Por Comisión</li>
    <li class="t-tab" id="IncidenciasCapitalHumano">Registro de Incidencias abiertas para Capital Humano</li>
    <li class="t-tab" id="IncidenciasHechasCapitalHumano">Registro de Incidencias hechas por Capital Humano</li>
    </ul>
    <ul class="t-contents">
    <li class="t-content">
        @*------------------------ TABLA DE INCIDENCIAS PROPIAS -------------------------*@
        <table class="table TablaIncidenciasPropias" id="table3">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.RegistroIncidenciasPropias)
               {
                   <tr>
                       <td>@ins.ReInciId</td>
                       <td>@ins.Emp.EmpNombreCompleto</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.Inci.InciDescripcion</td>
                       <td>@ins.Estatus.EstDescripcion</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Detalles" onclick="OpenModalDetails(@ins.ReInciId)"><i class="material-icons text-info">search</i></a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Editar" onclick="OpenModalEditDetails(@ins.ReInciId)"><i class="material-icons text-warning">edit</i></a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Cancelar permiso" onclick="OpenModalCancelacion(@ins.ReInciId)"><i class="material-icons text-danger">cancel</i></a>
            
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </li>
    <li class="t-content">
        @*------------------------ TABLA DE INCIDENCIAS ABIERTAS -------------------------*@
        <table class="table TablaIncidenciasAbiertas" id="table4">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.IncidenciasAbiertasEnPrimerPaso)
               {
                   <tr>
                       <td>@ins.ReInciId</td>
                       @*<td>@ins.Emp.EmpNombreCompleto</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.Inci.InciDescripcion</td>
                       <td>@ins.Estatus.EstDescripcion</td>*@
                       <td>@ins.ReInciEmpId</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.ReInciInciId</td>
                       <td>@ins.ReInciEstatusId</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Detalles" onclick="OpenModalDetails(@ins.ReInciId)"><i class="material-icons text-info">search</i></a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Aprobar o rechazar solicitud" onclick="OpenModalEdit(@ins.ReInciId)"><i class="material-icons text-dark-green">check</i></a>
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </li>

    <li class="t-content">
        @*------------------------ TABLA DE INCIDENCIAS CERRADAS -------------------------*@
        <table class="table TablaIncidenciasCerradas" id="table5">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.RegistroIncidenciasCerradas)
               {
                   <tr>
                       <td>@ins.ReInciId</td>
                       <td>@ins.Emp.EmpNombreCompleto</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.Inci.InciDescripcion</td>
                       <td>@ins.Estatus.EstDescripcion</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Detalles" onclick="OpenModalDetails(@ins.ReInciId)"><i class="material-icons text-info">search</i></a>
@*            <a href="" data-toggle="tooltip" data-placement="top" title="Aprobar o rechazar solicitud" onclick="OpenModalEdit(@ins.ReInciId)"><i class="material-icons text-dark-green">check</i></a>
*@            @*<a href="" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="DeleteEmpleados(@ins.ReInciId)"><i class="material-icons text-danger">delete</i></a>*@
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </li>
    <li class="t-content">
        @*------------------------ TABLA DE INCIDENCIAS COMISIÓN -------------------------*@
        <table class="table TablaIncidenciasComision" id="table6">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.RegistroIncidenciasDeComision)
               {
                   <tr>
                       <td>@ins.ReInciId</td>
                       <td>@ins.Emp.EmpNombreCompleto</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.Inci.InciDescripcion</td>
                       <td>@ins.Estatus.EstDescripcion</td>
                       <td>
            @*<a href="" data-toggle="tooltip" data-placement="top" title="Details" onclick="OpenModalDetails(@ins.ReInciId)"><i class="material-icons text-info">search</i></a>*@
            @*<a href="" data-toggle="tooltip" data-placement="top" title="Aprobar o rechazar solicitud" onclick="OpenModalEdit(@ins.ReInciId)"><i class="material-icons text-dark-green">check</i></a>*@
            <a href="" data-toggle="tooltip" data-placement="top" title="Editar" onclick="OpenModalEditComision(@ins.ReInciId)"><i class="material-icons text-warning">edit</i></a>
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </li>
    <li class="t-content">
        @*------------------------ TABLA DE INCIDENCIAS ABIERTAS -------------------------*@
        <table class="table TablaIncidenciasCapitalHumano" id="table7">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.RegistroIncidenciasCH)
               {
                   <tr>
                       <td>@ins.ReInciId</td>
                       @*<td>@ins.Emp.EmpNombreCompleto</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.Inci.InciDescripcion</td>
                       <td>@ins.Estatus.EstDescripcion</td>*@
                       <td>@ins.ReInciEmpId</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.ReInciInciId</td>
                       <td>@ins.ReInciEstatusId</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Detalles" onclick="OpenModalDetails(@ins.ReInciId)"><i class="material-icons text-info">search</i></a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Aprobar o rechazar solicitud" onclick="OpenModalEdit(@ins.ReInciId)"><i class="material-icons text-dark-green">check</i></a>
            @*<a href="" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="DeleteEmpleados(@ins.ReInciId)"><i class="material-icons text-danger">delete</i></a>*@
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </li>
    <li class="t-content">
        @*------------------------ TABLA DE INCIDENCIAS HECHAS POR CH -------------------------*@
        <table class="table TablaIncidenciasHechasCH" id="table8">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.RegistrosHechosPorCH)
               {
                   <tr>
                       <td>@ins.ReInciId</td>
                       <td>@ins.Emp.EmpNombreCompleto</td>
                       <td>@ins.Fecha.ToShortDateString()</td>
                       <td>@ins.Inci.InciDescripcion</td>
                       <td>@ins.Estatus.EstDescripcion</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Detalles" onclick="OpenModalDetails(@ins.ReInciId)"><i class="material-icons text-info">search</i></a>
            @*<a href="" data-toggle="tooltip" data-placement="top" title="Aprobar o rechazar solicitud" onclick="OpenModalEdit(@ins.ReInciId)"><i class="material-icons text-dark-green">check</i></a>*@
            @*<a href="" data-toggle="tooltip" data-placement="top" title="Editar" onclick="OpenModalEditComision(@ins.ReInciId)"><i class="material-icons text-warning">edit</i></a>*@
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </li>
    </ul>
    </div> <!-- AQUI TERMINAN LAS PESTAÑAS-->
        

    </div>
</div>

@*Agregar YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:55em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddRegistroIncidencias" asp-controller="Incidencia" asp-action="Add" method="POST">
                    <table class="table table-borderless">
                            <tbody>  
                                <tr class="col">
                                    <td class="col-6"><div>
                                <label class=" col-form-label">Ingrese número de nómina del empleado</label>
                            <input type="number" class="form-control  col-form-label" name="ReInciEmpId" id="ReInciEmpId"  onchange="ValidarEmpleado()">
                        </div></td>
                                    <td class="col-6"><div >
                                <label class=" col-form-label">Nombre del empleado</label>
                            <input type="text" class="form-control  col-form-label" name="ReInciEmpNombreCompleto" id="ReInciEmpNombreCompleto" readonly>
                            </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">¿Tiene horario permanente?</label>
                            <input type="text" class="form-control  col-form-label" name="HorarioPermanente" id="HorarioPermanente" readonly>
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">¿Está activo el empleado?</label>
                            <input type="text" class="form-control  col-form-label" name="Estatus" id="Estatus" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Fecha</label>
                            <input type="date" class="form-control  col-form-label" name="Fecha" id="Fecha" readonly>
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">Ingrese Tipo de Permiso</label>
                            <select class="form-control col-form-label" asp-items="ViewBag.Inci" id="ReInciInciId" name="ReInciInciId" onchange="SeleccionarIncidencia()" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                </tr>
                        </tbody>
                                </table>
                       

                        <!-- ************** FORMULARIO TABLA DISEÑO DE INCIDENCIA **************  -->
                        <!-- Formulario de permiso de personal -->

                    <div  id="PermisoPersonal">

                        <table class="table table-borderless" >
                        <tbody>
                            <tr class="col"><td class="col-6">
                        <div id="HoraLabel">
                            <label class=" col-form-label">Horario</label><br />
                            <select class="form-control  col-form-label"  id="DetInciHorarioID" name="DetInciHorarioID" >
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> 
                        </div></td></tr>
                            <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha para el permiso <br /></label><br />
                            <input type="date" class="form-control  col-form-label" name="DetFecha" id="DetFecha"  >
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha final del permiso <br /></label><br />
                            <input type="date" class="form-control  col-form-label" name="DetFechaFinal" id="DetFechaFinal"  >
                        </div></td>
                            </tr>
                            
                        <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de entrada <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraIngreso" id="DetInciHoraIngreso"  >
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de salida <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalida" id="DetInciHoraSalida"  >
                        </div></td>
                            </tr>
                        
                        <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora salida a comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaComer" id="DetInciHoraSalidaComer"  >
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora regreso de comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraRegresoComer" id="DetInciHoraRegresoComer"  >
                        </div></td>
                            </tr>
                        
                            <tr><td><div >
                                <label class=" col-form-label">Motivo</label><br />
                            <textarea class="form-control  col-form-label" name="Motivo" id="Motivo" maxlength="255" placeholder="Motivo" autocolplete="off"></textarea>
                        </div></td>
                        <td><div >
                                <label class=" col-form-label">Medida de Acción</label>
                            <textarea class="form-control  col-form-label" name="MedidaAccion" id="MedidaAccion" maxlength="255" placeholder="MedidaAccion" autocolplete="off"></textarea>
                        </div></td></tr>
                           
                        </tbody>
                        </table>
                        </div>
                        <!-- Formulario de Permiso de comisión -->

                        <div  id="PermisoComision">
                            <table class="table table-borderless" >
                            <tbody>
                                <tr class="col">
                                    <td class="col-6"><div >
                                <label class=" col-form-label">Asunto</label>
                            <input type="text" class="form-control col-form-label" name="Asunto" id="Asunto" maxlength="50" placeholder="Asunto" autocomplete="off" >
                        </div></td>
                                    <td class="col-6"><div >
                                <label class=" col-form-label">Destino</label>
                            <input type="text" class="form-control col-form-label" name="Destino" id="Destino" maxlength="50" placeholder="Destino" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Teléfono Destino</label>
                            <input type="number" class="form-control col-form-label" name="TelDestino" id="TelDestino" maxlength="50" placeholder="Teléfono de Destino" autocomplete="off" >
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">Contacto 1</label>
                            <input type="text" class="form-control col-form-label" name="Contacto1" id="Contacto1" maxlength="50" placeholder="Contacto" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Nombre del Destino</label>
                            <input type="text" class="form-control col-form-label" name="NombreDestino" id="NombreDestino" maxlength="50" placeholder="Nombre del Destino" autocomplete="off" >
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">Contacto 2</label><br />
                            <input type="text" class="form-control col-form-label" name="Contacto2" id="Contacto2" maxlength="50" placeholder="Contacto 2" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Observaciones</label>
                            <input type="text" class="form-control col-form-label" name="Observaciones" id="Observaciones" maxlength="50" placeholder="Observaciones" autocomplete="off" >
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">Hora de Salida</label>
                            <input type="time" class="form-control col-form-label" name="HoraSalida" id="HoraSalida" maxlength="50" placeholder="Hora de Salida" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Hora de Regreso</label>
                            <input type="time" class="form-control col-form-label" name="HoraRegreso" id="HoraRegreso" maxlength="50" placeholder="Hora de Regreso" autocomplete="off" >
                        </div></td>
                                    <td></td>
                                </tr>
                           </tbody>
                           </table>
                        </div>

                        <!-- Formulario de Vacaciones -->

                        <div id="PermisoVacaciones">

                        <table class="table table-borderless">
                            <tbody>
                                <tr class="col">
                                    <td class="col-6"><div>
                                <label class=" col-form-label">Fecha de Inicio</label><br />
                            <input type="date" class="form-control col-form-label" name="FechaInicio" id="FechaInicio" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" >
                        </div></td>
                                    <td class="col-6"><div >
                                <label class=" col-form-label">Fecha de Finalización<br /></label>
                            <input type="date" class="form-control col-form-label" name="FechaFinal" id="FechaFinal" maxlength="50" placeholder="Fecha de Finalización" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Fecha de Presentación<br /></label>
                            <input type="date" class="form-control col-form-label" name="FechaPresentacion" id="FechaPresentacion" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" >
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">Selecciona al empleado que cubrirá</label>
                        <select class="form-control col-form-label" asp-items="ViewBag.Emp" id="PersonaCubrira" name="PersonaCubrira" onchange="SeleccionarIncidencia()" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div>
                        </td>
                                
                                </tbody>
                                </table>
                        </div>


                        
                    <div class="form-group float-right">
                        <br /><br />
                        <button type="button" id="btnAddRegistroIncidencias" onclick="AddRegistroIncidencias()" class="btn btn-success">Agregar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*DETALLES YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:55em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="DetailsRegistroIncidencias" asp-controller="RegistroIncidencias" asp-action="Add" method="POST">
                    <div class="form-group row">
                        
                        <div class="t-container">
                            <ul class="t-tabs row justify-content-center">  
    <li class="t-tab" id="DatosGenerales">Datos Generales</li> 
    <li class="t-tab" id="PermisoPersonalDetalles">Permiso Personal</li>  
    <li class="t-tab" id="PermisoComisionDetalles">Permiso de Comisión</li> 
    <li class="t-tab" id="PermisoVacacionesDetalles">Permiso por Vacaciones</li>  
  </ul>
  <ul class="t-contents">
      <li class="t-content">
          <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Empleado</label>
                           @* <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Emp" id="ReInciEmpIdD" name="ReInciEmpIdD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>*@
                             <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciEmpIdD" id="ReInciEmpIdD" maxlength="100" readonly>
                        </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaD" id="FechaD" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Tipo de Incidencia</label>
                            @*<select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Inci" id="ReInciInciIdD" name="ReInciInciIdD" onchange="SeleccionarIncidencia()" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>*@ 
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciInciIdD" id="ReInciInciIdD" maxlength="100" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Estado</label>
                            @*<select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Estatus" id="ReInciEstatusIdD" name="ReInciEstatusIdD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>*@
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciEstatusIdD" id="ReInciEstatusIdD" maxlength="100" readonly><br />
                        </div>
                        </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
            <table class=" table table-borderless" id="table3" cellpadding="0">
            <tbody>
                <tr id="HoraLabelD">
                    <td colspan="2">
                        <div   >
                            <label class="col-form-label" >Horario</label><br />
                           
                            <input type="text" class="form-control col-form-label" name="DetInciHorarioIDD" id="DetInciHorarioIDD" maxlength="100" placeholder="Horario" autocomplete="off" readonly>
                        </div></td></tr>
                           
                            <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha para el permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaD" id="DetFechaD" readonly >
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha final del permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaFinalD" id="DetFechaFinalD" readonly >
                        </div></td>
                            </tr>
                            
                        <tr id="HoraEntradaSD">
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de entrada <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraIngresoD" id="DetInciHoraIngresoD" readonly >
                        </div></td>
                        <td class="col-6">
                        <div>
                                <label class=" col-form-label">Hora de salida <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaD" id="DetInciHoraSalidaD" readonly >
                        </div></td>
                            </tr>
                        
                        <tr id="HorasComidaD">
                                <td class="col-6">
                        <div>
                                <label class=" col-form-label">Hora salida a comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaComerD" id="DetInciHoraSalidaComerD" readonly >
                        </div></td>
                        <td class="col-6">
                        <div>
                                <label class=" col-form-label">Hora regreso de comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraRegresoComerD" id="DetInciHoraRegresoComerD" readonly >
                        </div></td>
                            </tr>
                            <tr><td><div>
                                <label class="col-form-label">Motivo</label><br />
                            <textarea class="form-control col-sm-12 col-form-label" name="MotivoD" id="MotivoD" maxlength="255" readonly></textarea>
                        </div></td>
                        <td><div>
                                <label class="col-form-label">Medida de Acción</label>
                                <textarea class="form-control col-sm-12 col-form-label" name="MedidaAccionD" id="MedidaAccionD" maxlength="255" readonly></textarea>
                        </div></td>
                        </tr>
                          
            </tbody>
            </table>
    </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                <table class="table table-borderless" id="table7">
                <tbody>
                    <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Asunto</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="AsuntoD" id="AsuntoD" maxlength="50" placeholder="Asunto" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="DestinoD" id="DestinoD" maxlength="50" placeholder="Destino" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Teléfono Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="TelDestinoD" id="TelDestinoD" maxlength="50" placeholder="Teléfono de Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 1</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto1D" id="Contacto1D" maxlength="50" placeholder="Contacto" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Nombre del Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="NombreDestinoD" id="NombreDestinoD" maxlength="50" placeholder="Nombre del Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 2</label><br /><br />
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto2D" id="Contacto2D" maxlength="50" placeholder="Contacto 2" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Observaciones</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ObservacionesD" id="ObservacionesD" maxlength="50" placeholder="Observaciones" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Salida</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraSalidaD" id="HoraSalidaD" maxlength="50" placeholder="Hora de Salida" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Regreso</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraRegresoD" id="HoraRegresoD" maxlength="50" placeholder="Hora de Regreso" autocomplete="off" readonly>
                        </div></td>
                                    <td></td>
                                </tr>
                </tbody>
                </table>
    </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                <table class="table table-borderless" id="table7">
                <tbody>
                    <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Inicio</label><br />
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaInicioD" id="FechaInicioD" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Finalización</label><br />
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaFinalD" id="FechaFinalD" maxlength="50" placeholder="Fecha de Finalización" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Presentación<br /></label>
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaPresentacionD" id="FechaPresentacionD" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Días de Ausencia</label><br />
                            <input type="number" class="form-control col-sm-12 col-form-label" name="DiasAusenciaD" id="DiasAusenciaD" maxlength="50" placeholder="Días de Ausencia" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado que cubrirá</label>
                            @*<select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Emp" id="PersonaCubriraD" name="PersonaCubriraD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>*@
                            <input type="text" class="form-control col-sm-12 col-form-label" name="PersonaCubriraD" id="PersonaCubriraD" maxlength="50"  readonly>
                        </div></td>
                                    @*<td><input id="mdp-demo"></td>*@
                                </tr>
                </tbody>
                </table>
                    </li>
  </ul>
                            </div> <!-- AQUI TERMINAN LAS PESTAÑAS-->
                        </div>
                    <div class="form-group float-right">
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*EDITAR YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditRegistroIncidencias" asp-controller="RegistroIncidencias" asp-action="Add" method="POST">
                    <div class="form-group row">
                        <div class="t-container">
                            <ul class="t-tabs row justify-content-center">  
    <li class="t-tab" id="DatosGenerales">Datos Generales</li> 
    <li class="t-tab" id="PermisoPersonalDetallesOME">Permiso Personal</li>  
    <li class="t-tab" id="PermisoComisionDetallesOME">Permiso de Comisión</li> 
    <li class="t-tab" id="PermisoVacacionesDetallesOME">Permiso por Vacaciones</li>  
  </ul>
  <ul class="t-contents">
      <li class="t-content">
                        <input type="hidden" />
                    <input type="hidden" id="Id" name="Id" />
                    <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                       <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Emp" id="ReInciEmpIdE" name="ReInciEmpIdE" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="FechaE" id="FechaE" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Tipo de Incidencia</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Inci" id="ReInciInciIdE" name="ReInciInciIdE"  readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Estado de la incidencia</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Estatus" id="ReInciEstatusIdE" name="ReInciEstatusIdE" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div>  
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Observaciones</label>
                          <textarea class="form-control col-sm-12 col-form-label" name="ObservacionesRegistros" id="ObservacionesRegistros" maxlength="255" placeholder="Observaciones" autocolplete="off"></textarea>
                        </div>  
                        </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
            <table class=" table table-borderless" id="table3" cellpadding="0">
            <tbody>
                            <tr class="col" id="HoraLabelOME"><td class="col-6" colspan="2">
                        <div>
                            <label class=" col-form-label">Horario</label><br />
                            <select class="form-control  col-form-label"  id="DetInciHorarioOME" name="DetInciHorarioOME" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> 
                        </div></td></tr>
                            <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha para el permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaOME" id="DetFechaOME"  readonly>
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha final del permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaFinalOME" id="DetFechaFinalOME"  readonly>
                        </div></td>
                            </tr>
                            
                        <tr id="HorasLaboralesCancelacionOME">
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de entrada <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraIngresoOME" id="DetInciHoraIngresoOME"  readonly>
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de salida <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaOME" id="DetInciHoraSalidaOME"  readonly>
                        </div></td>
                            </tr>
                        
                        <tr id="HorasSalidasComidaOME">
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora salida a comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaComerOME" id="DetInciHoraSalidaComerOME"  readonly>
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora regreso de comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraRegresoComerOME" id="DetInciHoraRegresoComerOME" readonly >
                        </div></td>
                            </tr>
                        
                            <tr><td><div >
                                <label class=" col-form-label">Motivo</label><br />
                            <textarea class="form-control  col-form-label" name="MotivoOME" id="MotivoOME" maxlength="255" placeholder="Motivo" autocolplete="off" readonly></textarea>
                        </div></td>
                        <td><div >
                                <label class=" col-form-label">Medida de Acción</label>
                            <textarea class="form-control  col-form-label" name="MedidaAccionOME" id="MedidaAccionOME" maxlength="255" placeholder="MedidaAccion" autocolplete="off" readonly></textarea>
                        </div></td></tr>
                           
                        </tbody>
            </table>
    </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                <table class="table table-borderless" id="table7">
                <tbody>
                    <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Asunto</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="AsuntoOME" id="AsuntoOME" maxlength="50" placeholder="Asunto" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="DestinoOME" id="DestinoOME" maxlength="50" placeholder="Destino" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Teléfono Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="TelDestinoOME" id="TelDestinoOME" maxlength="50" placeholder="Teléfono de Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 1</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto1OME" id="Contacto1OME" maxlength="50" placeholder="Contacto" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Nombre del Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="NombreDestinoOME" id="NombreDestinoOME" maxlength="50" placeholder="Nombre del Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 2</label><br /><br />
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto2OME" id="Contacto2OME" maxlength="50" placeholder="Contacto 2" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Observaciones</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ObservacionesOME" id="ObservacionesOME" maxlength="50" placeholder="Observaciones" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Salida</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraSalidaOME" id="HoraSalidaOME" maxlength="50" placeholder="Hora de Salida" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Regreso</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraRegresoOME" id="HoraRegresoOME" maxlength="50" placeholder="Hora de Regreso" autocomplete="off" readonly>
                        </div></td>
                                    <td></td>
                                </tr>
                </tbody>
                </table>
    </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                <table class="table table-borderless" id="table7">
                <tbody>
                    <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Inicio</label><br />
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaInicioOME" id="FechaInicioOME" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Finalización</label><br />
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaFinalOME" id="FechaFinalOME" maxlength="50" placeholder="Fecha de Finalización" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Presentación<br /></label>
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaPresentacionOME" id="FechaPresentacionOME" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Días de Ausencia</label><br />
                            <input type="number" class="form-control col-sm-12 col-form-label" name="DiasAusenciaOME" id="DiasAusenciaOME" maxlength="50" placeholder="Días de Ausencia" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado que cubrirá</label>
                            @*<select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Emp" id="PersonaCubriraD" name="PersonaCubriraD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>*@
                            <input type="text" class="form-control col-sm-12 col-form-label" name="PersonaCubriraOME" id="PersonaCubriraOME" maxlength="50"  readonly>
                        </div></td>
                                    @*<td><input id="mdp-demo"></td>*@
                                </tr>
                </tbody>
                </table>
                    </li>
  </ul>
                            </div>
                    </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnEditRegistroIncidencias" onclick="EditRegistroIncidencias()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*EDITAR YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="EditDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:65em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditDetailsRegistroIncidencias" asp-controller="RegistroIncidencias" asp-action="Add" method="POST">
                    
                        <input type="hidden" />
                    <input type="hidden" id="IdED" name="IdED" />
                    <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="col">
                                    <td class="col-6">
                                        <div >
                                <label class=" col-form-label">Empleado</label>
                            <input type="text" class="form-control  col-form-label" name="ReInciEmpIdED" id="ReInciEmpIdED" readonly/>
                        </div>
                                    </td>
                                    <td class="col-6">
                                        <div >
                                <label class=" col-form-label">Fecha</label>
                            <input type="text" class="form-control  col-form-label" name="FechaED" id="FechaED" readonly/>
                        </div>
                                    </td>
                                </tr>
                                <tr >
                                    <td >
                                        <div >
                                <label class=" col-form-label">Tipo de Incidencia</label>
                            <input type="text" class="form-control  col-form-label" name="ReInciInciIdED" id="ReInciInciIdED" readonly/>
                        </div>
                                    </td>
                                    <td >
                                        <div >
                                <label class=" col-form-label">Estatus</label>
                            <input type="text" class="form-control  col-form-label" name="ReInciEstatusIdED" id="ReInciEstatusIdED" readonly/>
                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- ************** FORMULARIO TABLA DISEÑO DE INCIDENCIA **************  -->
                        <!-- Formulario de permiso de personal -->

                    <div  id="DIVPERSONAL">

                        <table class="table table-borderless" >
                        <tbody>
                            <tr class="col" id="HorarioEditable"><td class="col-6" colspan="2">
                        <div>
                            <label class=" col-form-label">Horario</label><br />
                            <select class="form-control  col-form-label"  id="DetInciHorarioIDED" name="DetInciHorarioIDED" >
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> 
                        </div></td></tr>
                            <tr>
                                <td class="col-6">
                        <div >
                                <label class="col-sm-6 col-form-label">Fecha para el permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaED" id="DetFechaED" readonly />
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha final del permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaFinalED" id="DetFechaFinalED" />
                        </div></td>
                            </tr>
                            
                        <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de entrada <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraIngresoED" id="DetInciHoraIngresoED"  />
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de salida <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaED" id="DetInciHoraSalidaED"  />
                        </div></td>
                            </tr>
                        
                        <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora salida a comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaComerED" id="DetInciHoraSalidaComerED"  />
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora regreso de comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraRegresoComerED" id="DetInciHoraRegresoComerED"  />
                        </div></td>
                            </tr>
                        
                            <tr><td><div >
                                <label class=" col-form-label">Motivo</label><br />
                            <textarea class="form-control  col-form-label" name="MotivoED" id="MotivoED" maxlength="255" placeholder="Motivo" autocolplete="off"></textarea>
                        </div></td>
                        <td><div >
                                <label class=" col-form-label">Medida de Acción</label>
                            <textarea class="form-control  col-form-label" name="MedidaAccionED" id="MedidaAccionED" maxlength="255" placeholder="MedidaAccion" autocolplete="off"></textarea>
                        </div></td></tr>
                           
                        </tbody>
                        </table>
                        </div>
                        <!-- Formulario de Permiso de comisión -->

                        <div  id="DIVCOMISION">
                            <table class="table table-borderless" >
                            <tbody>
                                <tr class="col">
                                    <td class="col-6"><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Asunto</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="AsuntoED" id="AsuntoED" maxlength="50" placeholder="Asunto" autocomplete="off" >
                        </div></td>
                                    <td class="col-6"><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="DestinoED" id="DestinoED" maxlength="50" placeholder="Destino" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Teléfono Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="TelDestinoED" id="TelDestinoED" maxlength="50" placeholder="Teléfono de Destino" autocomplete="off" >
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 1</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto1ED" id="Contacto1ED" maxlength="50" placeholder="Contacto" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Nombre del Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="NombreDestinoED" id="NombreDestinoED" maxlength="50" placeholder="Nombre del Destino" autocomplete="off" >
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 2</label><br /><br />
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto2ED" id="Contacto2ED" maxlength="50" placeholder="Contacto 2" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Observaciones</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ObservacionesED" id="ObservacionesED" maxlength="50" placeholder="Observaciones" autocomplete="off" >
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Salida</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraSalidaED" id="HoraSalidaED"   autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Regreso</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraRegresoED" id="HoraRegresoED" maxlength="50" placeholder="Hora de Regreso" autocomplete="off" >
                        </div></td>
                                    <td></td>
                                </tr>
                           </tbody>
                           </table>
                        </div>

                        <!-- Formulario de Vacaciones -->

                        <div  id="DIVVacaciones">

                        <table class="table table-borderless" >
                            <tbody>
                                <tr class="col">
                                    <td class="col-6"><div >
                                <label class=" col-form-label">Fecha de Inicio</label><br />
                            <input type="datetime" class="form-control  col-form-label" name="FechaInicioED" id="FechaInicioED" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" >
                        </div></td>
                                    <td class="col-6"><div >
                                <label class=" col-form-label">Fecha de Finalización<br /></label>
                            <input type="datetime" class="form-control  col-form-label" name="FechaFinalED" id="FechaFinalED" maxlength="50" placeholder="Fecha de Finalización" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Fecha de Presentación<br /></label>
                            <input type="datetime" class="form-control col-form-label" name="FechaPresentacionED" id="FechaPresentacionED" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" >
                        </div></td>
                                    <td><div >
                                <label class=" col-form-label">Días de Ausencia</label><br />
                            <input type="number" class="form-control  col-form-label" name="DiasAusenciaED" id="DiasAusenciaED" maxlength="50" placeholder="Días de Ausencia" autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div >
                                <label class=" col-form-label">Ingrese Empleado que cubrirá</label>
                            <select class="form-control  col-form-label" asp-items="ViewBag.Emp" id="PersonaCubriraED" name="PersonaCubriraED" >
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
@*                            <input type="text" class="form-control col-sm-12 col-form-label" name="PersonaCubriraED" id="PersonaCubriraED" maxlength="50" placeholder="Número de nómina de persona que cubrirá" autocomplete="off" >
*@                        </div></td>
                                    <td></td>
                                </tr>
                                </tbody>
                                </table>
                        </div>
                    
                    <div class="form-group float-right">
                        <button type="button" id="btnEditDetailsRegistroIncidencias" onclick="EditDetailsRegistroIncidencias()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*EDITAR YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="EditComision" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditComisionVigilancia" asp-controller="RegistroIncidencias" asp-action="Add" method="POST">
                    <div class="form-group row">
                        <input type="hidden" />
                    <input type="hidden" id="IdEC" name="IdEC" />
                    <div class="Cancelacion2" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                      <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Empleado</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciEmpIdEC" id="ReInciEmpIdEC" readonly>
                        </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="FechaEC" id="FechaEC" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Tipo de Incidencia</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciInciIdEC" id="ReInciInciIdEC" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Estatus</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciEstatusIdEC" id="ReInciEstatusIdEC" readonly>
                        </div>
                        <!-- Formulario de Permiso de comisión -->

                        
                            <table class="table table-borderless" id="table3">
                            <tbody>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Asunto</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="AsuntoEC" id="AsuntoEC" maxlength="50" placeholder="Asunto" autocomplete="off" readonly >
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="DestinoEC" id="DestinoEC" maxlength="50" placeholder="Destino" autocomplete="off" readonly >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Teléfono Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="TelDestinoEC" id="TelDestinoEC" maxlength="50" placeholder="Teléfono de Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 1</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto1EC" id="Contacto1EC" maxlength="50" placeholder="Contacto" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Nombre del Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="NombreDestinoEC" id="NombreDestinoEC" maxlength="50" placeholder="Nombre del Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 2</label><br /><br />
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto2EC" id="Contacto2EC" maxlength="50" placeholder="Contacto 2" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Observaciones</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ObservacionesEC" id="ObservacionesEC" maxlength="50" placeholder="Observaciones" autocomplete="off" >
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Salida</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraSalidaEC" id="HoraSalidaEC"   autocomplete="off" >
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Regreso</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraRegresoEC" id="HoraRegresoEC" maxlength="50" placeholder="Hora de Regreso" autocomplete="off" >
                        </div></td>
                                    <td></td>
                                </tr>
                           </tbody>
                           </table>
                        
                        
                    </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnEditComision" onclick="EditComision()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*DETALLES YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="DetailsCancelacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:55em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="CancelarRegistroIncidencias" asp-controller="RegistroIncidencias" asp-action="Add" method="POST">
                    <div class="form-group row">
                        <input type="hidden" />
                    <input type="hidden" id="IdC" name="IdC" />
                        <div class="t-container">
                            <ul class="t-tabs row justify-content-center">  
    <li class="t-tab" id="DatosGenerales">Datos Generales</li> 
    <li class="t-tab" id="PermisoPersonalDetallesC">Permiso Personal</li>  
    <li class="t-tab" id="PermisoComisionDetallesC">Permiso de Comisión</li> 
    <li class="t-tab" id="PermisoVacacionesDetallesC">Permiso por Vacaciones</li>  
  </ul>
  <ul class="t-contents">
      <li class="t-content">
          <div class="Cancelacion2" id="Cancelacion2"><span class="SpanCancelacion2">CANCELADO</span></div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Empleado</label>
                           
                             <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciEmpIdC" id="ReInciEmpIdC" maxlength="100" readonly>
                        </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaC" id="FechaC" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Tipo de Incidencia</label>
                            
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciInciIdC" id="ReInciInciIdC" maxlength="100" readonly>
                        </div>
                        <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Estado</label>
                            
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ReInciEstatusIdC" id="ReInciEstatusIdC" maxlength="100" readonly><br />
                        </div>
                        </li>
    <li class="t-content">
        <div class="Cancelacion2" id="Cancelacion2"><span class="SpanCancelacion2">CANCELADO</span></div>
           <table class="table table-borderless" >
                        <tbody>
                            <tr class="col" id="HoraLabelC"><td class="col-6" colspan="2">
                        <div>
                            <label class=" col-form-label">Horario</label><br />
                            <select class="form-control  col-form-label"  id="DetInciHorarioIDC" name="DetInciHorarioIDC" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select> 
                        </div></td></tr>
                            <tr>
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha para el permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaC" id="DetFechaC"  readonly>
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Fecha final del permiso <br /></label><br />
                            <input type="datetime" class="form-control  col-form-label" name="DetFechaFinalC" id="DetFechaFinalC"  readonly>
                        </div></td>
                            </tr>
                            
                        <tr id="HorasLaboralesCancelacion">
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de entrada <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraIngresoC" id="DetInciHoraIngresoC"  readonly>
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora de salida <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaC" id="DetInciHoraSalidaC"  readonly>
                        </div></td>
                            </tr>
                        
                        <tr id="HorasSalidasComida">
                                <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora salida a comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraSalidaComerC" id="DetInciHoraSalidaComerC"  readonly>
                        </div></td>
                        <td class="col-6">
                        <div >
                                <label class=" col-form-label">Hora regreso de comer <br /></label><br />
                            <input type="time" class="form-control  col-form-label" name="DetInciHoraRegresoComerC" id="DetInciHoraRegresoComerC" readonly >
                        </div></td>
                            </tr>
                        
                            <tr><td><div >
                                <label class=" col-form-label">Motivo</label><br />
                            <textarea class="form-control  col-form-label" name="MotivoC" id="MotivoC" maxlength="255" placeholder="Motivo" autocolplete="off" readonly></textarea>
                        </div></td>
                        <td><div >
                                <label class=" col-form-label">Medida de Acción</label>
                            <textarea class="form-control  col-form-label" name="MedidaAccionC" id="MedidaAccionC" maxlength="255" placeholder="MedidaAccion" autocolplete="off" readonly></textarea>
                        </div></td></tr>
                           
                        </tbody>
                        </table>
    </li>
    <li class="t-content">
        <div class="Cancelacion" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                <table class="table table-borderless" id="table7">
                <tbody>
                    <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Asunto</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="AsuntoC" id="AsuntoC" maxlength="50" placeholder="Asunto" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="DestinoC" id="DestinoC" maxlength="50" placeholder="Destino" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Teléfono Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="TelDestinoC" id="TelDestinoC" maxlength="50" placeholder="Teléfono de Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 1</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto1C" id="Contacto1C" maxlength="50" placeholder="Contacto" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Nombre del Destino</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="NombreDestinoC" id="NombreDestinoC" maxlength="50" placeholder="Nombre del Destino" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Contacto 2</label><br /><br />
                            <input type="text" class="form-control col-sm-12 col-form-label" name="Contacto2C" id="Contacto2C" maxlength="50" placeholder="Contacto 2" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Observaciones</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="ObservacionesC" id="ObservacionesC" maxlength="50" placeholder="Observaciones" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Salida</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraSalidaC" id="HoraSalidaC" maxlength="50" placeholder="Hora de Salida" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Hora de Regreso</label>
                            <input type="time" class="form-control col-sm-12 col-form-label" name="HoraRegresoC" id="HoraRegresoC" maxlength="50" placeholder="Hora de Regreso" autocomplete="off" readonly>
                        </div></td>
                                    <td></td>
                                </tr>
                </tbody>
                </table>
    </li>
    <li class="t-content">
        <div class="Cancelacion" id="Cancelacion"><span class="SpanCancelacion2">CANCELADO</span></div>
                <table class="table table-borderless" id="table7">
                <tbody>
                    <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Inicio</label><br />
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaInicioC" id="FechaInicioC" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Finalización</label><br />
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaFinalC" id="FechaFinalC" maxlength="50" placeholder="Fecha de Finalización" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha de Presentación<br /></label>
                            <input type="datetime" class="form-control col-sm-12 col-form-label" name="FechaPresentacionC" id="FechaPresentacionC" maxlength="50" placeholder="Fecha de Inicio" autocomplete="off" readonly>
                        </div></td>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Días de Ausencia</label><br />
                            <input type="number" class="form-control col-sm-12 col-form-label" name="DiasAusenciaC" id="DiasAusenciaC" maxlength="50" placeholder="Días de Ausencia" autocomplete="off" readonly>
                        </div></td>
                                </tr>
                                <tr>
                                    <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado que cubrirá</label>
                            
                            <input type="text" class="form-control col-sm-12 col-form-label" name="PersonaCubriraC" id="PersonaCubriraC" maxlength="50"  readonly>
                        </div></td>
                                    
                                </tr>
                </tbody>
                </table>
                    </li>
  </ul>
                            </div> <!-- AQUI TERMINAN LAS PESTAÑAS-->
                        </div>
                         <div>
                                    <label class="col-form-label">Motivo de la cancelación</label>
                                    <textarea class="form-control col-form-label" name="MotivoCancelacion" id="MotivoCancelacion"></textarea><br /> 
                                    </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnCancelarPermiso" onclick="CancelarPermiso()" class="btn btn-danger">Cancelar permiso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

            <!-- ******* SECCIÓN DE JAVASCRIPT ******* -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.js" integrity="sha512-shDVoXhqpazAEKzSzJQTn5mAtynJ5eIl8pNX2Ah25/GZvZWDEJ/EKiVwfu7DGo8HnIwxlbu4xPi+C0SsHWCCNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/js/custom/data-table.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="~/js/RegistroIncidencias/RegistroIncidencias.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/localization/messages_es.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.min.js" integrity="sha512-mMP7O0G5Vv01th+kpYux7RbD89Mx/iQnIvxcKdctiPyADgJzacfQJ8k2AsB8695AAuR2uPuxk7dawb1eehjcuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>