@model IEnumerable<NucleoRH.Models.CatSolicitudIncidencias>

@{ ViewData["Title"] = "Solicitud de Incidencias"; }

<style>

    #table3 thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .table-responsive {
        height: 200px;
        overflow: scroll;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/i18n/defaults-es_ES.min.js"></script>

<div class="dt-card dt-card__full-height">
    <div class="dt-card__header" style="justify-self">
        <h4 class="mb--15">Solicitud de Incidencias</h4>
        <div>
            <button class="btn btn-success" data-toggle="modal" data-target="#Add" id="btnAgregarSolicitud">Agregar Solicitud de Incidencia</button>
        </div>
    </div>
    <div class="card-body" style="overflow:scroll">       
        <table class="table" id="table3">
            <thead>
                <tr>
                    
                    <th scope="col">Folio</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Folio de la Incidencia</th>
                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in ViewBag.SolInci)
               {
                   <tr>
                       <td>@ins.SolInciId</td>
                       <td>@ins.Empleados.EmpNombreCompleto</td>
                       <td>@ins.SolInciFechaRegistro.ToShortDateString()</td>
                       <td>@ins.SolInciReInciId</td>
                       <td>
            <a href="" data-toggle="tooltip" data-placement="top" title="Details" onclick="OpenModalDetails(@ins.SolInciId)"><i class="material-icons text-info">search</i></a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Editar" onclick="OpenModalEdit(@ins.SolInciId)"><i class="material-icons text-warning EditarSolicitud">edit</i></a>
@*            <a href="" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="DeleteSolicitud(@ins.SolInciId)"><i class="material-icons text-danger">delete</i></a>
*@                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>

@*Agregar YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddSolicitudIncidencias" asp-controller="SolicitudIncidencias" asp-action="Add" method="POST">
                    <div class="form-group row">
                        <table class="table-borderless">
                        <tbody>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Empleados" id="SolInciEmpId" name="SolInciEmpId" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="date" class="form-control col-sm-12 col-form-label" name="SolInciFechaRegistro" id="SolInciFechaRegistro" readonly>
                        </div></td>
                            </tr>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Folio de la Incidencia</label>
                            <input type="number" class="form-control col-sm-12 col-form-label" name="SolInciReInciId" id="SolInciReInciId" required>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Puesto Superior</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Empleados" id="SolInciPuestoSuperior" name="SolInciPuestoSuperior" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                            </tr>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Perfiles</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Perfiles" id="SolInciPerfiles" name="SolInciPerfiles" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Flujo</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Flujos" id="SolInciFlujoId" name="SolInciFlujoId" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                            </tr>
                        </tbody>
                        </table>
                        </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnAddSolicitudIncidencias" onclick="AddSolicitudIncidencias()" class="btn btn-success">Agregar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*EDITAR YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditSolicitudIncidencia" asp-controller="SolicitudIncidencias" asp-action="Add" method="POST">
                    <div class="form-group row">
                        <input type="hidden" />
                    <input type="hidden" id="Id" name="Id" />
                    
                        <table class="table-borderless">
                        <tbody>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Empleados" id="SolInciEmpIdE" name="SolInciEmpIdE" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="SolInciFechaRegistroE" id="SolInciFechaRegistroE" readonly>
                        </div></td>
                            </tr>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Folio de la Incidencia</label>
                            <input type="number" class="form-control col-sm-12 col-form-label" name="SolInciReInciIdE" id="SolInciReInciIdE" required>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Puesto Superior</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Empleados" id="SolInciPuestoSuperiorE" name="SolInciPuestoSuperiorE" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                            </tr>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Perfiles</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Perfiles" id="SolInciPerfilesE" name="SolInciPerfilesE" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Flujo</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Flujos" id="SolInciFlujoIdE" name="SolInciFlujoIdE" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                            </tr>
                        </tbody>
                        </table>


                    </div>
                    <div class="form-group float-right">
                        <button type="button" id="btnEditSolicitudIncidencia" onclick="EditSolicitudIncidencia()" class="btn btn-success">Editar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*DETALLES YA MOSTRANDO EL MODAL*@
<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles dela Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="DetailsSolicitudIncidencias" asp-controller="SolicitudIncidencias" asp-action="Details" method="POST">
                    <div class="form-group row">
                      <table>
                          <tbody>
                       <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Ingrese Empleado</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Empleados" id="SolInciEmpIdD" name="SolInciEmpIdD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                            <input type="text" class="form-control col-sm-12 col-form-label" name="SolInciFechaRegistroD" id="SolInciFechaRegistroD" readonly>
                        </div></td>
                            </tr>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Folio de la Incidencia</label>
                            <input type="number" class="form-control col-sm-12 col-form-label" name="SolInciReInciIdD" id="SolInciReInciIdD" readonly>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Puesto Superior</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Empleados" id="SolInciPuestoSuperiorD" name="SolInciPuestoSuperiorD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                            </tr>
                            <tr>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Perfiles</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Perfiles" id="SolInciPerfilesD" name="SolInciPerfilesD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                                <td><div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Flujo</label>
                            <select class="form-control col-sm-12 col-form-label" asp-items="ViewBag.Flujos" id="SolInciFlujoIdD" name="SolInciFlujoIdD" readonly>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div></td>
                            </tr>


                        </tbody>
                        </table>
                    
                    </div>
                    <div class="form-group float-right">
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


            <!-- ******* SECCIÓN DE JAVASCRIPT ******* -->

<script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/js/custom/data-table.js"></script>
<script src="~/js/SolicitudIncidencias/SolicitudIncidencias.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>